<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%> 
    <main class="vh-100 container  pt-2 text-center d-flex justify-center-content align-items-center">
        <section>
            <h1 class="display-1">About Me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi facere molestias consectetur nisi ipsa error sapiente voluptates esse animi impedit aut itaque iste, quibusdam cum atque unde. Eveniet, deleniti dicta? Reiciendis nobis similique amet impedit, iusto assumenda ex odit eveniet laborum. Odio voluptates ea, similique nobis, fugiat beatae rerum obcaecati, repellat neque error et quae aperiam doloribus veniam repellendus. Voluptatum aliquid voluptate adipisci suscipit odit alias numquam hic error delectus accusamus reiciendis est, eaque quaerat ea? Eius reprehenderit doloremque esse earum, expedita molestias, nesciunt, ratione omnis sint quod tenetur explicabo repellendus quisquam. Eos eius, quam, voluptatum voluptas eaque ex eligendi facilis numquam harum blanditiis cum cumque tempora fuga pariatur soluta reiciendis a architecto excepturi. Ab nobis aperiam, nam veritatis similique est commodi, praesentium ullam quisquam suscipit quo qui dolore repudiandae eum esse rem, blanditiis dolorem tenetur dicta repellat ipsum facere laborum repellendus? Molestiae molestias possimus magnam facere dolores fugiat at deleniti tenetur ex explicabo distinctio commodi illum temporibus quo, veniam atque praesentium in sint a animi ipsum. Earum facilis explicabo eius veniam nemo quasi! Inventore possimus ea iure qui numquam iste magnam, est commodi, quae veritatis reprehenderit amet dolor quos veniam tenetur dolore exercitationem laboriosam obcaecati aliquam in molestiae vero!</p>
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>